<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289714366227-3h0vpl5o15jmlp8a3778050qtapso5q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289714366227-3h0vpl5o15jmlp8a3778050qtapso5q2</string>
	<key>API_KEY</key>
	<string>AIzaSyBzXVYN4l3OcRozZNyQOlEJYmY_0J62GAE</string>
	<key>GCM_SENDER_ID</key>
	<string>289714366227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.MoneyMovesTemplate</string>
	<key>PROJECT_ID</key>
	<string>moneymoves-6e66e</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymoves-6e66e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289714366227:ios:61c515dc9235bf5f659ce6</string>
</dict>
</plist>